.container {
    display: flex;
    flex-direction: column;

    width: 250px;
    height: 100vh;
    overflow-y: auto;
    border-right: 1px solid #e0e0e0;
    flex-shrink: 0;
}

.snippet-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 6px 2px 8px;

    cursor: pointer;
    transition: background-color 0.2s ease;
}

.snippet-item > span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.snippet-item:hover {
    background-color: #f0f0f0;
}

.snippet-item.selected {
    padding-right: 2px;
    border-right: 4px solid var(--primary-color);
}

.snippet-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    margin-left: auto;
}

.snippet-action-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
}

.snippet-action-button:hover {
    background-color: #c8c8c8;
    border-radius: 4px;
}

.snippet-action-button svg {
    width: 16px;
    height: 16px;
}

/* Add snipet form */
.add-snippet-button {
    margin: 8px;
}

.add-dialog {
    width: 300px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 8px;
}

.add-form {
    display: flex;
    flex-direction: column;
}

.dialog-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 12px;
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-field input:user-invalid {
    color: red;
    border: 2px solid red;
}

.form-actions {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 4px;
}
