.label {
    padding: 6px 12px;
    border-radius: 16px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.primary {
    background-color: var(--primary-color);
    color: var(--primary-contrast-text-color);
}

.secondary {
    background-color: var(--secondary-color);
    color: var(--secondary-contrast-text-color);
}